<a href="https://colab.research.google.com/github/sara-zeus/Pandas/blob/main/DataFrames_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
download_url='https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv'

In [4]:
import requests

In [5]:
response= requests.get(download_url)

In [6]:
print(response.status_code)

200

In [7]:
with open('nba_all_elo.csv','wb') as f:
  f.write(response.content)

In [8]:
!dir

nba_all_elo.csv  sample_data

In [9]:
import pandas as pd

In [10]:
nba= pd.read_csv('nba_all_elo.csv')

In [11]:
type(nba)

pandas.core.frame.DataFrame

In [12]:
len(nba)

126314

In [13]:
len(nba)

126314

In [14]:
nba.shape

(126314, 23)

In [15]:
nba.head(

)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [16]:
nba.head(10)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,...,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,...,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
8,5,194611020STB,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,...,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN

In [17]:
pd.set_option('display.max.columns',None)
pd.set_option('display.precision',2)

In [18]:
nba.tail(10)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126304,63153,201506070GSW,NBA,1,2015,6/7/2015,98,1,CLE,Cavaliers,95,1708.17,1716.87,61.31,GSW,Warriors,93,1806.20,1797.50,A,W,0.24,NaN
126305,63153,201506070GSW,NBA,0,2015,6/7/2015,99,1,GSW,Warriors,93,1806.20,1797.50,67.03,CLE,Cavaliers,95,1708.17,1716.87,H,L,0.76,NaN
126306,63154,201506090CLE,NBA,1,2015,6/9/2015,100,1,GSW,Warriors,91,1797.50,1790.96,66.62,CLE,Cavaliers,96,1716.87,1723.41,A,L,0.47,NaN
126307,63154,201506090CLE,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,96,1716.87,1723.41,61.83,GSW,Warriors,91,1797.50,1790.96,H,W,0.53,NaN
126308,63155,201506110CLE,NBA,1,2015,6/11/2015,101,1,GSW,Warriors,103,1790.96,1809.98,67.79,CLE,Cavaliers,82,1723.41,1704.39,A,W,0.45,NaN
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [19]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [20]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [21]:
nba['team_id'].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [22]:
nba['fran_id'].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Jets              60
Ironmen           60
Huskies           60
Name: fran_id, dtype: int64

In [23]:
nba['fran_id'] == 'Lakers'

0         False
1         False
2         False
3         False
4         False
          ...
126309    False
126310    False
126311    False
126312    False
126313    False
Name: fran_id, Length: 126314, dtype: bool

In [24]:
nba.loc[nba['fran_id'] == 'Lakers']

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1136,569,194811040BLB,NBA,1,1949,11/4/1948,1,0,MNL,Lakers,84,1527.00,1542.25,51.22,BLB,Baltimore,72,1507.21,1491.95,A,W,0.39,NaN
1152,577,194811060WSC,NBA,1,1949,11/6/1948,2,0,MNL,Lakers,62,1542.25,1536.21,50.62,WSC,Capitols,67,1481.87,1487.92,A,L,0.44,NaN
1159,580,194811090BOS,NBA,1,1949,11/9/1948,3,0,MNL,Lakers,55,1536.21,1513.49,48.34,BOS,Celtics,77,1359.33,1382.05,A,L,0.61,NaN
1170,586,194811110NYK,NBA,1,1949,11/11/1948,4,0,MNL,Lakers,77,1513.49,1524.96,49.50,NYK,Knicks,68,1460.42,1448.95,A,W,0.43,NaN
1183,592,194811130PRO,NBA,1,1949,11/13/1948,5,0,MNL,Lakers,90,1524.96,1533.27,50.33,PRO,Steamrollers,67,1245.95,1237.63,A,W,0.74,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126016,63009,201504080DEN,NBA,1,2015,4/8/2015,78,0,LAL,Lakers,101,1313.78,1307.51,21.92,DEN,Nuggets,119,1415.06,1421.32,A,L,0.24,NaN
126052,63027,201504100LAL,NBA,0,2015,4/10/2015,79,0,LAL,Lakers,106,1307.51,1312.95,22.37,MIN,Timberwolves,98,1283.92,1278.48,H,W,0.67,NaN
126086,63044,201504120LAL,NBA,0,2015,4/12/2015,80,0,LAL,Lakers,106,1312.95,1305.92,21.79,DAL,Mavericks,120,1556.22,1563.25,H,L,0.30,NaN
126115,63058,201504130SAC,NBA,1,2015,4/13/2015,81,0,LAL,Lakers,92,1305.92,1301.39,21.42,SAC,Kings,102,1395.60,1400.13,A,L,0.25,NaN
126137,63069,201504150LAL,NBA,0,2015,4/15/2015,82,0,LAL,Lakers,99,1301.39,1283.24,19.99,SAC,Kings,122,1400.13,1418.28,H,L,0.50,NaN

In [25]:
nba.loc[nba['fran_id']=='Lakers','team_id']

1136      MNL
1152      MNL
1159      MNL
1170      MNL
1183      MNL
         ...
126016    LAL
126052    LAL
126086    LAL
126115    LAL
126137    LAL
Name: team_id, Length: 6024, dtype: object

In [26]:
nba.loc[nba['fran_id']=='Lakers', 'team_id'].value_counts(
)

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [27]:
nba.loc[nba['team_id']=='MNL','date_game']

1136     11/4/1948
1152     11/6/1948
1159     11/9/1948
1170    11/11/1948
1183    11/13/1948
           ...
9701     3/19/1960
9702     3/20/1960
9709     3/22/1960
9711     3/24/1960
9715     3/26/1960
Name: date_game, Length: 946, dtype: object

In [28]:
nba.loc[nba['team_id' ]== 'MNL', 'date_game'].max()

'4/9/1959'

In [29]:
nba['date_played'] = pd.to_datetime(nba['date_game'])

In [30]:
nba.loc[nba['team_id'] == 'BOS', 'date_played']

6        1946-11-02
14       1946-11-05
28       1946-11-09
40       1946-11-13
46       1946-11-14
            ...
126141   2015-04-15
126162   2015-04-19
126173   2015-04-21
126185   2015-04-23
126205   2015-04-26
Name: date_played, Length: 5997, dtype: datetime64[ns]

In [31]:
nba.loc[ nba['team_id']=='BOS' , 'pts'].sum()

626484

In [32]:
nba.loc[nba['team_id']== 'BOS', 'date_played' ].apply(lambda v: v.year)

6         1946
14        1946
28        1946
40        1946
46        1946
          ...
126141    2015
126162    2015
126173    2015
126185    2015
126205    2015
Name: date_played, Length: 5997, dtype: int64

In [33]:
nba.loc[nba['team_id']== 'BOS', 'date_played' ].apply(lambda v: v.year)

6         1946
14        1946
28        1946
40        1946
46        1946
          ...
126141    2015
126162    2015
126173    2015
126185    2015
126205    2015
Name: date_played, Length: 5997, dtype: int64

In [34]:
years_bos_played=len(nba.loc[nba['team_id']== 'BOS', 'date_played' ].apply(lambda v: v.year).unique())

In [35]:
years_bos_played

70

In [36]:
total_bos_points=nba.loc[nba['team_id'] == 'BOS' , 'pts'].sum()

In [37]:
total_bos_points

626484

In [38]:
total_bos_points/years_bos_played

8949.771428571428

In [39]:
current_decade= nba[ nba['year_id'] > 2010 ]

In [40]:
current_decade.shape

(12658, 24)

In [41]:
nba['year_id'] > 2010

0         False
1         False
2         False
3         False
4         False
          ...
126309     True
126310     True
126311     True
126312     True
126313     True
Name: year_id, Length: 126314, dtype: bool

In [42]:
nba[nba['year_id']>2010]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
113656,56829,201010260BOS,NBA,1,2011,10/26/2010,1,0,MIA,Heat,80,1547.36,1543.16,45.14,BOS,Celtics,88,1625.10,1629.30,A,L,0.26,NaN,2010-10-26
113657,56829,201010260BOS,NBA,0,2011,10/26/2010,1,0,BOS,Celtics,88,1625.10,1629.30,53.75,MIA,Heat,80,1547.36,1543.16,H,W,0.74,NaN,2010-10-26
113658,56830,201010260LAL,NBA,1,2011,10/26/2010,1,0,HOU,Rockets,110,1504.20,1502.60,40.90,LAL,Lakers,112,1647.60,1649.20,A,L,0.20,NaN,2010-10-26
113659,56830,201010260LAL,NBA,0,2011,10/26/2010,1,0,LAL,Lakers,112,1647.60,1649.20,55.61,HOU,Rockets,110,1504.20,1502.60,H,W,0.80,NaN,2010-10-26
113660,56831,201010260POR,NBA,1,2011,10/26/2010,1,0,PHO,Suns,92,1643.02,1630.62,53.88,POR,Trailblazers,106,1552.81,1565.22,A,L,0.49,NaN,2010-10-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN,2015-06-11
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN,2015-06-14
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN,2015-06-14
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN,2015-06-16
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN,2015-06-16

In [43]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  date_played    126314 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(7), object(10)
memory usage: 23.1+ MB

In [44]:
nba['notes'].notnull()

0         False
1         False
2         False
3         False
4         False
          ...
126309    False
126310    False
126311    False
126312    False
126313    False
Name: notes, Length: 126314, dtype: bool

In [47]:
games_with_notes= nba[nba['notes'].notnull()]
games_with_notes

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
930,466,194801300BLB,NBA,1,1948,1/30/1948,28,0,WSC,Capitols,71,1469.35,1454.90,47.07,BLB,Baltimore,95,1434.05,1448.50,A,L,0.41,at Baltimore's Fifth Regiment Armory,1948-01-30
931,466,194801300BLB,NBA,0,1948,1/30/1948,31,0,BLB,Baltimore,95,1434.05,1448.50,46.41,WSC,Capitols,71,1469.35,1454.90,H,W,0.59,at Baltimore's Fifth Regiment Armory,1948-01-30
1084,543,194803230CHS,NBA,1,1948,3/23/1948,49,1,WSC,Capitols,70,1465.90,1461.20,47.71,CHS,Stags,74,1440.72,1445.42,A,L,0.39,Tiebreaker,1948-03-23
1085,543,194803230CHS,NBA,0,1948,3/23/1948,49,1,CHS,Stags,74,1440.72,1445.42,46.09,WSC,Capitols,70,1465.90,1461.20,H,W,0.61,Tiebreaker,1948-03-23
1088,545,194803250CHS,NBA,1,1948,3/25/1948,49,1,BLB,Baltimore,75,1477.26,1484.31,50.04,CHS,Stags,72,1445.42,1438.36,A,W,0.40,Tiebreaker,1948-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122207,61104,201401160ATL,NBA,0,2014,1/16/2014,39,0,ATL,Hawks,110,1505.05,1487.59,39.24,BRK,Nets,127,1454.65,1472.11,N,L,0.57,"at London, England",2014-01-16
123916,61959,201411120MIN,NBA,1,2015,11/12/2014,8,0,HOU,Rockets,113,1635.77,1642.45,54.89,MIN,Timberwolves,101,1502.92,1496.24,N,W,0.68,"at Mexico City Arena, Mexico City, Mexico",2014-11-12
123917,61959,201411120MIN,NBA,0,2015,11/12/2014,7,0,MIN,Timberwolves,101,1502.92,1496.24,40.13,HOU,Rockets,113,1635.77,1642.45,N,L,0.32,"at Mexico City Arena, Mexico City, Mexico",2014-11-12
124862,62432,201501150MIL,NBA,0,2015,1/15/2015,40,0,MIL,Bucks,95,1499.90,1505.86,41.14,NYK,Knicks,79,1304.46,1298.50,N,W,0.75,"at The O2, London, England",2015-01-15
124863,62432,201501150MIL,NBA,1,2015,1/15/2015,41,0,NYK,Knicks,79,1304.46,1298.50,21.19,MIL,Bucks,95,1499.90,1505.86,N,L,0.25,"at The O2, London, England",2015-01-15

In [51]:
ers_teams= nba[nba['fran_id'].str.endswith('ers')]
ers_teams

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,1300.00,1305.15,41.54,BOS,Celtics,53,1300.00,1294.85,H,W,0.64,NaN,1946-11-02
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.00,1304.69,41.49,PIT,Ironmen,51,1300.00,1295.31,H,W,0.64,NaN,1946-11-02
16,9,194611050DTF,NBA,1,1947,11/5/1946,2,0,STB,Bombers,53,1304.69,1312.85,42.35,DTF,Falcons,49,1279.62,1271.46,A,W,0.39,NaN,1946-11-05
20,11,194611070PRO,NBA,0,1947,11/7/1946,2,0,PRO,Steamrollers,73,1305.15,1311.50,42.21,CHS,Stags,65,1316.08,1309.73,H,W,0.63,NaN,1946-11-07
22,12,194611070STB,NBA,0,1947,11/7/1946,3,0,STB,Bombers,63,1312.85,1302.60,41.27,NYK,Knicks,68,1297.07,1307.32,H,L,0.66,NaN,1946-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126304,63153,201506070GSW,NBA,1,2015,6/7/2015,98,1,CLE,Cavaliers,95,1708.17,1716.87,61.31,GSW,Warriors,93,1806.20,1797.50,A,W,0.24,NaN,2015-06-07
126307,63154,201506090CLE,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,96,1716.87,1723.41,61.83,GSW,Warriors,91,1797.50,1790.96,H,W,0.53,NaN,2015-06-09
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN,2015-06-11
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN,2015-06-14
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN,2015-06-16